In [9]:
#Q1
# tuples cantains a squence of elements like number, alphabates, boolean etc.
# tuples have both charateristics structs and arrays.
# tuple items are ordered, unchangeable and allow duplicate values 
# tuple items are indexed as the 1st -0 and 2nd -1 so-on.
# tuple in writen in () curve box.

In [10]:
a=(12,3,3,4,5,'t','y',' false ')

In [11]:
a[0]=4

TypeError: 'tuple' object does not support item assignment

In [12]:
#tuple is immutable as shown above

In [13]:
# Q2

In [ ]:
#methods of tuple
#- count()
#- index()
#example

In [23]:
b= (1,3,455,6,6,7,3,'d','f','t')
b.count(3)

2

In [24]:
b.index('d')

7

In [25]:
'''tuple support only two in-built methods
due to its immutable nature and also it has fixed size. so, it resist changes.'''
# while list is mutable and has no fix size and it also not resist changes

'tuple support only two in-built methods\ndue to its immutable nature and also it has fixed size. so, it resist changes.'

In [26]:
# Q3

In [27]:
#  the set data type is not allow duplicate items.
lst=[1,1,1,2,1,3,1,4,2,1,2,2,2,3,2,4,3,1,3,2,3,3,3,4,4,1,4,2,4,3,4,4]

In [29]:
set(lst)

{1, 2, 3, 4}

In [30]:
# to remove duplicate from list using set, i convert list into set.
# because set not allow duplicate items.

In [31]:
#Q4

In [ ]:
# union() is create a new set which has both sets elements without duplicate items
# update() is add all missing element to the called set

In [43]:
a={'a','b','c','d'}
b={'d','e','f','g'}
a.union(b)

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [44]:
a.update(b)

In [45]:
a

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [46]:
# Q5
''' Dictionarys are used to store data values in key:value pairs 
# A dictionary is a collection which is ordered, changeable and do not allow duplicates'''

' Dictionarys are used to store data values in key:value pairs \n# A dictionary is a collection which is ordered, changeable and do not allow duplicates'

In [58]:
# example
d1={"name":['akm'],"age":[22],"height":[1.68],"class":['dsm']}

In [59]:
d1

{'name': ['akm'], 'age': [22], 'height': [1.68], 'class': ['dsm']}

In [60]:
type(d1)

dict

In [61]:
# Q6
# yes,  first create two dictionaries and then add them into a separate dictionary making nested.
# example
d2={"name":['a.k'],"email":["acb@gmail.com"],"P_no":[215646]}

In [62]:
d1

{'name': ['akm'], 'age': [22], 'height': [1.68], 'class': ['dsm']}

In [76]:
Dict = { 'd2': {'name':['a.k'],"email":["acb@gmail.com"],"P_no":[215646]},
         'D3': {'Name': 'Ge', 1: [1, 2]} }
print("\nNested dictionary 3-")
print(Dict)

Nested dictionary 3-
{'d2': {'name': ['a.k'], 'email': ['acb@gmail.com'], 'P_no': [215646]}, 'D3': {'Name': 'Ge', 1: [1, 2]}}

In [79]:
# Q7
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [80]:
dict1.setdefault(" ",323)

323

In [81]:
print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', ' ': 323}

In [82]:
#Q8

In [83]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [84]:
dict1

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}

In [91]:
dict1={'Sport':'Cricket','Teams':['India','Australia','England','South Africa','Sri Lanka','New Zealand']}

In [93]:
print(dict1)

{'Sport': 'Cricket', 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [97]:
dict1

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}