In [134]:
# Q1
l,u,p,d =0, 0, 0, 0
s = "P@m@_f0r1tu9e$"
if (len(s)>=8):
    for i in s:
        if(i.islower()):
            l+=1
        if (i.isupper()):
            u+=1
        if (i.isdigit()):
            d+=1
        if (i=='@' or i=='$' or i=='_'):
            p+=1
if (l>=1 and u>=1 and p>=1 and d>=1 and l+u+p+d==len(s)):
    print("(valid password is)", s)
else:
    print("invalid password")

(valid password is) P@m@_f0r1tu9e$

In [82]:
# Q2
# (I)
str1="today is a event in our town"

In [83]:
(str1.startswith("to"))

True

In [84]:
type(str1)

str

In [85]:
# (II)
str1="212341567452"

In [86]:
str1.isnumeric()

True

In [87]:
# (III]
t1=[("mango",99),("orange",80), ("grapes", 1000)]
def sort_tuple(t1):
    t1.sort(key = lambda x: x[1])
    return t1
print (sort_tuple(t1))

[('orange', 80), ('mango', 99), ('grapes', 1000)]

In [88]:
# (IV)
a=[1,2,3,4,5,6,7,8,9,10]
a=list(map(lambda x:x**2, a))

In [89]:
a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [90]:
# (V)
a=[1,2,3,4,5,6,7,8,9,10]
a=list(map(lambda x:x**(1/3), a))

In [91]:
a

[1.0,
 1.2599210498948732,
 1.4422495703074083,
 1.5874010519681994,
 1.7099759466766968,
 1.8171205928321397,
 1.912931182772389,
 2.0,
 2.080083823051904,
 2.154434690031884]

In [116]:
# (VI)
b=[1,2,3,4,5,6,7,8,9]
bc= list(filter(lambda x: (x%2==0), b))

In [118]:
print("even number", bc)

even number [2, 4, 6, 8]

In [119]:
# (VII)
l=[1,2,3,4,5,6,7,8,9,10]
li= list(filter(lambda x: (x%2==1), b))

In [120]:
print("odd number", li)

odd number [1, 3, 5, 7, 9]

In [142]:
# (VIII)
l1=[1,2,3,4,5,6,-1,-2,-3,-4,-5,0]
res= sorted(l1, key = lambda i: 0 if i == 0 else -1 / i)
print("Result after performing sort operation : " + str(res))

Result after performing sort operation : [1, 2, 3, 4, 5, 6, 0, -5, -4, -3, -2, -1]